@page
@model IndexModel
@{
    ViewData["Title"] = "图库";
}
<style>
    /* Flex容器样式 */
    .custom-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; /* 图片之间的间距 */
        margin: 20px auto; /* 居中显示 */
        background-color: #333; /* 深灰色背景 */
    }

    /* Flex子项样式 */
    .img-container {
        flex: 0 1 calc(50% - 20px); /* 计算每个图片容器的宽度，减去间距 */
        text-align: center; /* 居中图片 */
    }

    .img-fluid {
        max-width: 100%; /* 使图片最大宽度为容器宽度 */
        height: auto; /* 保持图片原始宽高比 */
    }

    /* PC端样式调整 */
    @@media (min-width: 768px) {
        .custom-container {
            max-width: 800px; /* 在PC端最大宽度为800px */
        }
    }

    .fileName{
        color: #ffffff; /* 设置文本颜色为白色 */
    }
</style>

<div class="custom-container">
    @foreach (var image in Model.Images)
    {
        <div class="img-container">
            <img src="@image.FilePath" alt="Image" class="img-fluid" loading="lazy">
            <div class="mt-2 fileName">@image.FileName</div>
        </div>
    }
</div>
