@page
@model IndexModel
@{
    ViewData["Title"] = "图库";
}
<style>

    /* 移动设备默认样式 */
    .custom-container {
        width: 100%;
        max-width: 100%; /* 在移动设备上充满屏幕宽度 */
        margin: 20px auto; /* 居中显示 */
    }

    /* PC端样式 */
    @@media (min-width: 768px) {
        .custom-container {
            max-width: 800px; /* 在PC端最大宽度为800px */
        }
    }

    .img-container {
        text-align: center; /* 居中图片 */
        /* margin-bottom: 20px; /* 在每个图片容器底部添加20px的间距 */ */
    }

    .img-fluid {
        max-width: 100%; /* 使图片最大宽度为容器宽度 */
        height: auto; /* 保持图片原始宽高比 */
        display: inline-block; /* 配合容器的文本居中样式 */
    }
</style>

<div class="custom-container">
    @foreach (var image in Model.Images)
    {
        <div class="row mb-4">
            <div class="col-12 img-container">
                <img src="@image.FilePath" alt="Image" class="img-fluid">
                <div class="mt-2">@image.FileName</div>
            </div>
        </div>
    }
</div>