@page
@model _2DSupplyStation.Pages.ShowImagesModel
@using System.IO
@{
    ViewData["Title"] = "图库";
}

<div class="container">
    @foreach (var image in Model.Images)
    {
        <div class="row mb-4">
            <div class="col-12">
                <img src="@image.FilePath" alt="Image" class="img-fluid">
                <div class="text-center mt-2">@image.FileName</div>
            </div>
        </div>
    }
</div>